{% extends "layout.html" %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
        <table class="articles table-hover table-bordered table-striped">
            {% for article in articles %}
            <tbody>
                <tr class="warning">
                    <td><a class="btn btn" href="{{ url_for('article',id=article.id) }}">{{ article.title }}</a></td>
                    {% else %}
                    <td>Hm, no articles so far! Sing in and insert one!</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        </div>
    </div>

{% endblock %}
